*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
.text-uppercase{
	text-transform: uppercase;
}
.section-one{
	background-color: #3E3F41;
	height: 607px;
}

.logo img{
    width: 22%;
    margin-top: 90px;

}

.logo h2{
	color: #ffbf00;
    font-weight: bold;
    font-size: 29px;
}
.boton-iniciar{
	width: 100%;
    background-color: #ffbf00;
}

.input-field{
	background-color: white;
    height: 42px;
}

.inputfield{
	margin-top: 0px;
}

/* label color */
   .input-field label {
     color: gray;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ffbf00;
   }

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	    border-bottom: none;
    box-shadow: none;
}
.btn:hover, .btn-large:hover{
	background-color: #ffbf00;
}

.olvidaste{
	color: white;
	font-weight: 100;
}
.caja-footer{
	margin-top: 93px;
}
.txt-bajada{
	font-size: 18px;
	color: white;
	font-weight: 100;
}
.txt-bajada a{
	color:#ffbf00;
	font-weight: 600;
}
/* SIDEBAR */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* HTML HOME */
.main{
	background-color: #B3B3B3;
}

.navbar{
	background-color: #3E3F41;
}

.caja-nav{
	display: flex;
}

.hamburguesa{
	margin-top: 22px;
	color: white;
}
.caja-nav h4{
	color: white;
    font-size: 22px;
    margin-left: 26%;
}